.backC{
    background-color: #f4f4f4;
    min-height: 1000px;
  background-size: cover
  }

.leftDiv{
    width: 240px;
    margin-top : 50px;
    /* background-color: blue; */
    margin-left :130px;
    height: 750px;
}
.upperLeft{
    height: 350px;
    background-color: white;
    border-radius : 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.lowerLeft{
    height: 350px;
    margin-top : 30px;
    background-color: white;
    border-radius : 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.centralDiv{
    box-sizing: border-box;
    float: left;
    height: 750px;
    margin-left : 440px;
    margin-right: -1px;
    width: 600px;
    /* background-color: blue; */
    margin-top: -750px;

}
.follow{
    margin-left:90px;
    margin-top:-30px;
}
.rightDiv{
    width: 270px;
    margin-top : 30px;
    /* background-color: blue; */
    margin-left :1100px;
    height: 750px;
    margin-top: -750px;
}
.leftPhoto{
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: -38px auto 12px;
    border-radius: 300px;
height: 90px;
width: 90px
}

.leftPhoto1{
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: 10px auto 18px;
    border-radius: 300px;
height: 55px;
width: 55px
}

.leftPhoto1{
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: 10px auto 18px;
    border-radius: 300px;
height: 55px;
width: 55px
}
.leftPhoto2{
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: -0.5px auto 18px;
    border-radius: 300px;
height:85px;
width: 85px
}
