.home-page{
  background-image: url('homepage29.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:820px;
  position: absolute;
}

.home-navbar {
  display: inline;
  margin-top: 17px;
  width: 60%;
  text-align: left;
}

.user-account {
  float:right;
  font-size: 15px;
  color:white;
}
.home-nav-link {
  position: absolute;
  display: inline;
  color: #42f44b;
  font-size: 15px;
  top: 8px;
    left: 16px;
}

.home-nav {
  position: relative;
  display: inline;
  margin-top:10px;
  height:20px;
  width:40px;
}

.homescreeen-button {
  width:25%;
  height:50px;
  border-radius:0;
  margin-left: 4px;
  font-size: 16px;
}

.imgclass {
  position: relative;
  text-align: center;
  color: white;
  width:0px;
  height:10px;
}
.logo {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: inline;
  color: #42f44b;
  top:0px;
  left:200px;
  height: 40px;
  width: 40px;
}


.homescreenlogo {
    height: '100vh';
    background-position:'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    height: '100%';
    width: '100%';
    background-color:  'rgba(0, 0, 0, 0.3)';
}

.home-logo {
    background-size: cover;
    background-color:  rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 150px;
    top:100px;
}


.container-fluid {
  position: relative;
  float: center;
  height:30px;
  margin-top: 220px;
  margin-left: 120px;
}

.text-field {
  position: absolute;
  display: inline-block;
  position: relative;
  width:200px;
  height:50px;
  font-size:17px;
 margin-left: 40px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
 padding-left: 10px;
 padding:10px;
 margin-top: -8000px;
 border: 1px solid #D3D3D3;
  border-radius: 20px;
  background-color: #F5F5F5;
  color: grey;
}
.text-fld {
  position: absolute;
  display: inline-block;
  position: relative;
  width:200px;
  height:50px;
  font-size:17px;
 margin-left: 80px;
 margin-right: 0px;
 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
 padding:10px;
 margin-top: -8000px;
 border: 1px solid #D3D3D3;
  border-radius: 20px;
  background-color: #F5F5F5;
  color: grey;
}
.btn-class {
  position: absolute;
  background: #4286f4 none repeat scroll 0 0;
  border-color: #4286f4;
  color: #ffffff;
  font-size: 17px;
  width: 170px;
  height: 50px;
  margin-left: 50px;
  margin-top: -15px;
  border-radius: 25px;
}
.lg{
  display: inline;
  float: center;
    width:235px;
 }
.header-btn{
  color: #4292f4;
  font-weight: 700;
  border-radius: 25px;
  margin-top: -5px;
}

.signuplogo {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: inline;
  color: #42f44b;
  margin-left: 1000px;
  height: 40px;
  width: 40px;
}
.heading-text {
    display: inline-block;
    width:800px;
    color: white;
    margin-left: -20px;
    padding-left: 200px;
    padding-top:150px;
}
.heading-homepage {
    display: inline-block;
    width:800px;
    color: white;
    margin-left: -120px;
    margin-top: -100px;
    padding-left: 200px;
    position: absolute;
}
.main-form{
  margin-top: -100px;
  margin-left: 200px;
}
.search-form{
  margin-top: 150px;
  position: absolute;
}
.footer-text{
  color:white;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 100px;

  font-family: sans-serif;
}
.footer-home{
  color:white;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 450px;
  font-family: sans-serif;
  position: absolute;
}
.bold-heading{
  font-weight: 700;
  font-family: sans-serif;
  width: 300px;
  font-size: 22px;
  margin-left: 20px;
}
.normal-heading {
  font-family: sans-serif;
  width:250px;
  font-weight: 400;
  font-size: 16px;
  margin-top: -100px;
  margin-left: 20px;
}
.logo-image {
  font-family: sans-serif;
  width:400px;
  font-weight: 400;
  color: white;
}
#basic-nav-dropdown{
  color: #4286f4;
}
.card-search-bar1{
  margin-top: 150px;
  margin-left: 50px;
  height: 20px;
  position: absolute;
}
.cardPage-search-bar{
  margin-top: -120px;
  margin-left: -100px;
  height: 10px;
  position: absolute;
}
.btn-class.search{
  width: 80px;
  margin-left: 5px;
}
