.property-form{
	margin-top: -450px;
	margin-left: 100px;
}
.form-table{
	margin-top: 0px;
	border: 1px solid white;
	border-radius: 1px solid white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	margin-top: 110px;
	margin-left: 300px;
}
.property{
	width: 200px;
	margin-top: 0px;
}
.welcome{
	width: 200px;
	margin-top: 100px;
	margin-left: 300px;
}
.location{
	width: 100px;
	margin-top: 300px;
	margin-left: -250px;
}
.detail{
	width: 100px;
	margin-top: 90px;
	margin-left: -600px;
}
.booking{
	width: 150px;
	margin-top: 120px;
	margin-left: 300px;
}
.pricing{
	width: 100px;
	margin-top: 100px;
	margin-left: -600px;
}
.photos{
	width: 300px;
	margin-top: 200px;
	margin-left: -300px;
}
input{
	border: 1px solid grey;
	width:200px;
	height:30px;
}
input[type=radio] {
	width:20px;
	padding-right: 10px;
	margin-right: 20px;
	margin-top: 0px;
}
footer.footer-owner1{
		margin-left: -300px;
		margin-top: 230px;
		font-size: 14px;
		font-stretch: extra-condensed;
		font-family: "Times New Roman", Times, serif;

	}
footer.footer-owner{
		position: absolute;
		margin-left: 80px;
		margin-top: 350px;
		font-size: 14px;
		font-stretch: extra-condensed;
		font-family: "Times New Roman", Times, serif;

	}
footer.footer-owner2{
		position: absolute;
		margin-left: 80px;
		margin-top: 100px;
		font-size: 14px;
		font-stretch: extra-condensed;
		font-family: "Times New Roman", Times, serif;

	}
footer.footer-owner3{
		position: absolute;
		margin-left: 0px;
		margin-top: 200px;
		font-size: 14px;
		font-stretch: extra-condensed;
		font-family: "Times New Roman", Times, serif;

	}
.footer-div{
	display: flex;
    justify-content: center;
}
.surabhi-footer{
	margin-left: 150px;
}
.welcome-msg{
	margin-left: 300px;
	margin-top: 200px;
}
.step-msg{
	margin-left: 300px;
	margin-top: 40px;
}
.details-location{
	font-size: 22px;
	margin-left: 120px;
	margin-top: 200px;
	font-family: "Times New Roman", Times, serif;
}
.pricing-msg{
	font-size: 19px;
	margin-left: 120px;
	margin-top: 0px;
	margin-right: 150px;
}
.success-msg{
	margin-left: 400px;
	margin-top: 0px;
	margin-right: 150px;
	color:#008000;
}
.google-location{
	width:50px;
	height:50px;
	margin-left: 300px;
	margin-top: 100px;
}
.address-label{
	margin-left: 120px;
	margin-top: 0px;
}
.description-label{
	margin-left: 120px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
}
.type-label{
	margin-left: 120px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
}
.select-type{
	margin-left: 50px;
	width:300px;
	height:40px;
	border: 1px solid #D3D3D3;
}
.currency-type{
	margin-left: 120px;
	width:300px;
	height:40px;
	border: 1px solid #D3D3D3;
}
.bed-label{
	margin-left: 120px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.accomodation-label{
	margin-left: 120px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.area-label {
	margin-left: 10px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.booking-label{
	margin-left: 120px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
}
.bed-class{
	margin-left: 70px;
	width:305px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.bath-class{
	margin-left: 50px;
	width:305px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.price-class{
	margin-left: 50px;
	width:305px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.property-price-class{
	margin-left:10px;
	width:205px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.accomodation-class{
	margin-left: 25px;
	width:310px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.area-class{
	margin-left: 25px;
	width:310px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.select-date {
	margin-left: 25px;
	width:310px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.select-date1 {
	margin-left: 25px;
	width:220px;
	height: 40px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.radio {
	margin-left: 180px;
	width:310px;
	height: 40px;
	margin-top: 50px;
	font-weight: 500;
	font-size: 18px;
}

.area-location {
	margin-left: 120px;
	margin-top: 0px;
}
.headline-cls{
	margin-left: 120px;
	margin-top: 0px;
	width:618px;
}
.headline-cls1{
	margin-left: 120px;
	margin-top: 0px;
	width:618px;
}
.feedback-input{
	margin-left: 500px;
	margin-top: -400px;

}
.feedback-input1{
	margin-left: 500px;
	margin-top: -400px;

}
.bath-label{
	margin-left: 10px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.price-label{
	margin-left: 120px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.property-price-label{
	margin-left: 10px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.start-label{
	margin-left: 120px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 18px;
}
.end-label{
	margin-left: 10px;
	margin-top: 0px;
	font-weight: 500;
	font-size: 18px;
}
.active{
	margin-top: -290px;
	margin-left: 150px;
}
.loc-con{
	margin-top:200px;
}
.property-form{
  height:400px;
  width:600px;
  margin-left: 300px;
  margin-top: 400px;
  margin-right: 100px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}

.para-main{
  margin-right: -30px;
  margin-left: 0px;
}
.photos-heading{
	margin-left: 0px;
	margin-top: -120px;
	font-family: "Times New Roman", Times, serif;
}
.upload-para{
	color:grey;
	margin-top: 260px;
	font-size: 14px;
}
.photo-line{
	margin-left: 0px;
	width:600px;
}
.location-container{
	margin-top: -20px;
	position: absolute;

}
.location-container1{
	margin-top: -20px;

}
.photo-upload-div{
  height:300px;
  width:400px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
  border: 1px dashed #D3D3D3;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.property-line{
	margin-left:120px;
	width:1000px;
	display: inline-block;

}
.return-success2{
	margin-left: 200px;
	margin-top: 100px;
}
.profile{
	margin-top: -275px;
}
.first{
  position: absolute;
  margin-left: 100px;
  padding:10px;
}
.second{
  position: absolute;
  margin-left: 100px;
  padding: 10px;
  margin-top: 60px;
}
.third{
  position: absolute;
  margin-left: 100px;
  padding: 10px;
  margin-top: 110px;
}
.fourth{
  position: absolute;
  margin-left: 100px;
  padding: 10px;
  margin-top: 160px;
}
.fifth{
  position: absolute;
  margin-left: 100px;
  padding: 10px;
  margin-top: 210px;
}
.sixth{
  position: absolute;
  margin-left: 100px;
  padding: 10px;
  margin-top: 260px;
}
.location-body{
	margin-top: 100px;
}
.loc-con1{
	margin-top:10px;
}
.property-form1{
	margin-top: 400px;
	margin-left: 100px;
  height:420px;
  width:600px;
  margin-left: 300px;
  margin-right: 100px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.location1-container{
	margin-top: 220px;
	margin-left: 150px;
	margin-bottom: 0px;
	border: none;

}
.tabs-left{
	margin-top: -100px;
	position: absolute;

}
.pic-upload{
  margin-left: 220px;
  margin-top: 220px;
 position: absolute;
 
 text-decoration: underline;

}
