
.logo-home1 {
  margin-left:1300px;
  margin-top:-80px;
  height: 40px;
  width: 40px;
}

.home-logo1 {
   background-size: cover;
    height: 70px;
    width: 190px;
    top:100px;
}
.home-login{
	background-color: rgba(192,192,192,0.3);
	background-repeat: repeat;
	background-size: cover;
	text-align: center;
	height: 900px;
	width:108%;
	margin-left: -100px;
	margin-top: -220px;
}
.form-group{
	background-color: white;
	position: relative;
	height:500px;
	width:430px;
	margin-left: 500px;
	margin-top: -500px;

}
.field-details{
	margin-top: -750px;
}
.header-login1 {
	margin-left: 120px;
	margin-top: 150px;
	padding-top: 10px;
	font-family: sans-serif;

}
.txt-field {
	  margin-left: 80px;
	  height:40px;
	  width: 310px;
	  font-size:17px;
	 border-radius: 1px;
	 box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	 padding: 5px;
	 margin-left: 60px;
	 margin-top: 20px;
	 font-family:Serif;
	 font-style: 12px;
	 text-align: left;
}

.forgot-pwd2{
	width: 160px;
	height: 200px;
	margin-left: 60px;
	padding-top: 10px;
	margin-top: 25px;
}



.fb-button1{
	background-color: #39559f;
	width:310px;
	color:white;
	text-align:center;
	font-size: 14px;
  	width: 310px;
  	height:35px;
  	line-height: 30px;
  	margin-top: 0px;
  	margin-left: 60px;
}



.google-button1{
background-color: rgba(192,192,192,0.3);
	color:black;
	text-align:center;
	padding:5px;
	font-size: 14px;
  width: 310px;
  height: 40px;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 60px;
}

.fb-image{
	width:20px;
	height:25px;
	float:left;
}
.check-field1{
	width: 150px;
	margin-left: 60px;
	margin-top: 10px;
	font-size: 13px;
}
.login{
	width:310px;
	margin-left: 60px;
	margin-top: 30px;
	background-color:#f4a742;
	border-color: #f4a742;

}


.footer {
	color:black;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 60px;
}
.account-para {
	margin-top: -80px;
}
.heading-text {
  display: inline-block;
    width:800px;
    color: white;
    margin-left: -20px;
    padding-left: 200px;
    padding-top:-100px;
}
.home-text{
	margin-left: 100px;
	margin-top: 100px;
}

.main-form{
  margin-top: 100px;
  margin-left: 100px;
}

.home-page{
  background-image: url('homepage2.jpg');
  background-repeat: no-repeat;
   background-size: cover;
  height:820px;
  width: 100%;
}


.text-field {
  position: absolute;
  display: inline-block;
  position: relative;
  width:220px;
  height:50px;
  font-size:17px;
 margin-left: 40px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
 padding-left: 10px;
 padding:10px;
 margin-top: -8000px;
 border: 1px solid #D3D3D3;
  border-radius: 10px;
  background-color: #F5F5F5;
  color: grey;


}
.btn-class {
  position: absolute;
  background: #4286f4 none repeat scroll 0 0;
  border-color: #4286f4;
  color: #ffffff;
  font-size: 17px;
  width: 170px;
  height: 50px;
  margin-left: 50px;
  margin-top: -15px;
  border-radius: 25px;
}

.footer-text{
  color:white;
  font-size: 20px;
  margin-left: 120px;
  margin-top: 250px;

  font-family: sans-serif;
}
.bold-heading{
  font-weight: 700;
  font-family: sans-serif;
  width: 300px;
  font-size: 22px;
  margin-left: 20px;
}
.normal-heading {
  font-family: sans-serif;
  width:250px;
  font-weight: 400;
  font-size: 16px;
  margin-top: -100px;
  margin-left: 20px;
}
.logo-image {
  font-family: sans-serif;
  width:400px;
  font-weight: 400;
  color: white;
}
.home-icon{
  margin-left: 1000px;
  width: 50px;
  height: 50px;
  margin-top: -450px;
}
.home-navbar{
  margin-top: 100px;
  width:100%;
}
.homeaway-logo {
    height: 70px;
    width: 180px;
    margin-top: -450px;
    margin-left: -100px;
}
.main-div{
  margin-top: 220px;
  width:100%;
}
.login-div{
  background-color: rgba(192,192,192,0.3);
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  height: 800px;
  margin-left:0px;
  margin-top: -210px;
}
.topheader-style{
  margin-top: 220px;
}
.sign-main{
  background-color: rgba(192,192,192,0.3);
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  height: 800px;
  margin-left:0px;
  margin-top: -210px;
}
.form-group1{
	background-color: white;
	position: relative;
	height:500px;
	margin-left: 800px;
	margin-top: -500px;

}
.form-login{
  margin-left: 100px;
}
.login-header{
  font-size: 28px;
  font-weight: 600px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.header-owner{
  margin-left: 170px;

}
