.HeadingClass
{
    font-size: 0.3in;
    padding-bottom: 10%;
    padding-left: 45%;
}

.card-srinivas-chart {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    
}

.card-srinivas-chart:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-srinivas-chart {
    padding: 2px 16px;
    
}

.chart-side
{
    width: 100px;
}

.vspace-chart
{
    padding-bottom: 20px;
}