.stayright
{
	width: 50%;
	float: right;
	justify-content: center;
	padding-right: 200px;
}

.lefty
{
	padding-top: 200px;
	padding-left: 50px;

}

.leftbutton
{
	align-content: left;
}

.shadowingcontainer
{
	height: 80%;
     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
     padding-bottom: 15px;
 }
