.message-btn {
  color: #0073b1;
  border: none;
  margin: 300px;
  padding: 5px;

  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent,
    inset 0 0 0 1px transparent;
  display: inline;
}

#profile-image {
  border-radius: 49.9%;
}

#location {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

#designation {
  font-size: 14px;
}

#name {
  font-size: 16px;
  font-weight: 600;
}
